/*body,h1,h2,h3,h4,h5,h6,ul,li {
    margin: 0;
}*/

header {
    max-width: 960px;
    margin: 0 auto;
    background-image: url("../images/header.jpg");
    height: 280px;
}

main, footer {
    max-width: 960px;
    margin: 0 auto;
}

h1 {
    position: relative;
    left: 20px;
    color: white;
 
}

#h2 {
    background-color: #b74
}

header h2 {
    position: relative;
    left: 20px;
    color: white;
}

main h2 {
    color: black;
}